# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]serSettings/
MemoryCaptures/

# Visual Studio / Rider
.vs/
.idea/
*.csproj
*.sln
*.suo
*.user

# OS
Thumbs.db
.DS_Store

# Blender working files (too big for GitHub)
*.blend
*.blend1
